{% extends 'reception/base.html' %}

{% block title %}Редактирование {{ user_obj.username }}{% endblock %}

{% block content %}
<div class="flex_between mb_20">
    <h1>Редактирование пользователя: {{ user_obj.username }}</h1>
    <a href="{% url 'service_reception:admin_users' %}" class="btn_secondary">Назад</a>
</div>

<div class="form_wrapper">
    <div class="form_container">
        <div class="main_card">
            <div class="main_card_header">Информация о пользователе</div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form_field">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <small class="form_text">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="flex_buttons">
                    <button type="submit" class="btn_success">Сохранить</button>
                    <a href="{% url 'service_reception:admin_user_change_password' user_obj.id %}" class="btn_warning">Сменить пароль</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}